body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin-top: 8px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  max-height: 100px;
  max-width: 100px;
}

.content {
  overflow-y: auto;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 25px;
  height: 70vh;
}

.card {
  display: inline-block;
  padding: 10px;
  width: fit-content;
}

.popup-card {
  display: inline-block;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: fit-content;
}

.cart-card{
  display: flex;
  max-height: 150px;
}

.ordered-card{
  display: flex;
  max-height: 150px;
}

.cart-detail-container {
  max-height: inherit;
  max-width: 60%;
  min-width: 60%;
  margin: 10px;
}

.ordered-detail-container {
  max-height: inherit;
  max-width: 80%;
  min-width: 80%;
  margin: 10px;
}

.waitlist-detail-container {
  max-height: inherit;
  max-width: 60%;
  min-width: 60%;
  margin: 10px;
}

.waitlist-detail{
  line-height: 0.8;
}

.product-pop-up-detail-container {
  max-width: fit-content;
}

.input-box {
  max-width: 80px;
}

.cart-stock-container {
  display: block;
  max-width: 20%;
  min-width: 20%;
  margin: 10px;
}

.add-to-cart-container{
  display: flex;
  align-items: end;
  justify-content: end;
  max-width: 20%;
  min-width: 20%;
  margin: 10px;
}

.image-container {
  padding: 5px;
  border: 2px;
  border-style: solid;
  width: fit-content;
  height: fit-content;
  max-width: 150px;
  max-height: 150px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.button{
  background: none;
}

.close-button {
  background-color: red;
  color: white;
  font-weight: 900;
  border-style: solid;
  border-width: thin;
  margin: 5px;
}

.medium-button {
  padding: 5px;
  width: 150px;
}

.custom-right-align {
  max-height: inherit;
  margin-left: 100%;
  margin-bottom: 45px;
}

.custom-bottom-right-align{
  margin-bottom: 0px;
  margin-right: 0px;
}

.custom-bottom-left-align{
  margin-bottom: 0%;
  margin-left: 0%
}

.custom-center{
  margin-left: auto;
  margin-right: auto;
}

.custom-absolute-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-header {
  background-color: #8bc34a;
  width: inherit;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.popup-content {
  background-color: white;
  max-width: fit-content;
}

.placeorder-button {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

li{
  list-style-type: none;
}

.add-input {
  padding: 10px;
  margin: 2px 10px;
}

.manage-detail-container {
  max-height: inherit;
  max-width: 60%;
  min-width: 60%;
  margin: 10px;
  padding: auto;
  text-align: center;
}

.add-item-header {
  margin:10px;
  text-align: left;
}

.thin-line{
  line-height: 0.5;
}